<header class="header">
  <div class="container">
  	<a href="{{ SITEURL }}/"><h1>Luke Frisken</h1></a>
		<br>
		<div class="row">
			<div class="col-sm-3">
				Articles:
				<br>
				{% for cat, articles in categories %}
					<li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
				{% endfor %}
			</div>
			<div class="col-sm-3">
				Pages:
				<br>
				{% for p in pages %}
					<li><a class="nodec" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endfor %}
			</div>
		</div>
  </div>
</header>