@import "./_blog/article";
@import "./_blog/search-results";
@import "./_blog/pagination";
@import "./_blog/nav";

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  margin-top: 4rem;
  padding: 2rem;

  .theme-select-container {
    margin-left: auto;
  }
}

.hero .title {
  font-size: 3rem;
}

.article,
.tag-list {
  .content p {
    line-height: 1.9;
    margin: 15px 0;
  }
}

.list.box {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  >a {
    margin: 0.2rem;
  }
}

.vimeo {
	position: relative;
	height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;  /* inverse of 16:9 aspect ratio */
}

.vimeo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
}

.youtube {
	position: relative;
	height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
}

.map {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.article .content .map p {
  line-height: 1.4;
  margin: 5px 0;
}

.map-caption {
  font-style: italic;
}