{% extends "page-base.html" %}
{% import "post_macros.html" as post_macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ get_url(path="css/lightgallery.css") }}">
{% endblock head %}

{% block content %}
{% block page_javascript %}
{{ super() }}
{% endblock page_javascript %}
{% block header %}
{{ super() }}
{% endblock header %}
<main>
    <section class="container">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {{ post_macros::gallery_header(page = page) }}
                            <div itemprop="articleBody" class="content article-body">
                                {{ page.content | safe }}
                            </div>
                            {{ post_macros::gallery(gallery_page = page) }}
                        </div>
                        {% block page_footer %}
                        {{ post_macros::post_footer(page=page) }}
                        {% endblock page_footer %}
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
<script src="{{ get_url(path="js/jquery.min.js") }}"></script>
<script src="{{ get_url(path="js/lightgallery.min.js") }}"></script> 

<!-- lightgallery plugins -->
<script src="{{ get_url(path="js/lg-zoom.js") }}"></script>
<script src="{{ get_url(path="js/lg-thumbnail.min.js") }}"></script>
<script src="{{ get_url(path="js/lg-fullscreen.min.js") }}"></script>
<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        mode: 'lg-fade',
        cssEasing : 'cubic-bezier(0.25, 0, 0.25, 1)',
        zoom: true
    });
</script>
{% endblock content %}