{% extends "index.html" %}

{% block head %}
{{ super() }}
{% if page.extra.map %}
<link href='{{ get_url(path="css/leaflet.css") }}' rel='stylesheet' />
<link href='{{ get_url(path="css/leaflet.fullscreen.css") }}' rel='stylesheet' />
<link href='{{ get_url(path="css/leaflet.zoomhome.css") }}' rel='stylesheet' />
{% endif %}
{% endblock head %}

{% block content %}
{% block page_javascript %}
{% if page.extra.map %}
<script type="text/javascript" src="{{ get_url(path="js/leaflet.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/Leaflet.fullscreen.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/leaflet.zoomhome.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/L.KML.js") }}""></script>
<script type="text/javascript" src="{{ get_url(path="js/gpx.min.js") }}""></script>
<script type="text/javascript" src="{{ get_url(path="js/leaflet.ajax.min.js") }}""></script>
<!-- <script type="text/javascript" src="{{ get_url(path="js/togeojson.js") }}""></script> -->
{% endif %}
{% endblock page_javascript %}
{{ super() }}
{% endblock content %}
