{% extends "page-base.html" %}
{% import "post_macros.html" as post_macros %}

{% block head %}
{{ super() }}
{% if page.extra.banner_image %}
{% set og_image_url = get_url(path=page.extra.banner_image) %}
<meta property="og:image" content="{{ og_image_url }}"/>
{% endif %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{page.title}}" />
{% if page.extra.gallery %}
<link rel="stylesheet" href="{{ get_url(path="css/lightgallery.css") }}"/>
{% endif %}
{% endblock head %}

{% block content %}
{% block page_javascript %}
{{ super() }}
{% endblock page_javascript %}
{% block header %}
{{ super() }}
{% endblock header %}
<main>
    <section class="container">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {{ post_macros::article_header(page = page) }}
                            <div itemprop="articleBody" class="content article-body">
                                {{ page.content | safe }}
                            </div>
                            {% if page.extra.gallery and config.extra.images_enabled %}
                                {% set gallery_md_path = page.extra.gallery ~ "/index.md" %}
                                {% set gallery_page = get_page(path=gallery_md_path) %}
                                {{ post_macros::gallery(gallery_page = gallery_page) }}
                            {% endif %}
                        </div>
                        {% block page_footer %}
                        {{ post_macros::post_footer(page=page) }}
                        {% endblock page_footer %}
                    </div>
                </article>
                {% if config.extra.disqus_sitename %}
                <section class="section">
                    {{ post_macros::disqus(page = page) }}
                </section>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% if page.extra.gallery %}
<script src="{{ get_url(path="js/jquery.min.js") }}"></script>
<script src="{{ get_url(path="js/lightgallery.min.js") }}"></script> 

<!-- lightgallery plugins -->
<script src="{{ get_url(path="js/lg-zoom.js") }}"></script>
<script src="{{ get_url(path="js/lg-thumbnail.min.js") }}"></script>
<script src="{{ get_url(path="js/lg-fullscreen.min.js") }}"></script>
<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        mode: 'lg-fade',
        cssEasing : 'cubic-bezier(0.25, 0, 0.25, 1)',
        zoom: true
    });
</script>
{% endif %}
{% endblock content %}