{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% if page.extra.gallery %}
<link rel="stylesheet" href="{{ get_url(path="css/lightgallery.css") }}">
{% endif %}
{% if page.extra.map %}
<link href='{{ get_url(path="css/leaflet.css") }}' rel='stylesheet' />
<link href='{{ get_url(path="css/leaflet.fullscreen.css") }}' rel='stylesheet' />
<link href='{{ get_url(path="css/leaflet.zoomhome.css") }}' rel='stylesheet' />
{% endif %}
{% endblock header %}
<!-- END NAV -->
{% if page.extra.map %}
<script type="text/javascript" src="{{ get_url(path="js/leaflet.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/Leaflet.fullscreen.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/leaflet.zoomhome.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/L.KML.js") }}""></script>
<!-- <script type="text/javascript" src="{{ get_url(path="js/togeojson.js") }}""></script> -->
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
{% endif %}
<main>
    <section class="container">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {{ post_macros::article_header(page = page) }}
                            <div itemprop="articleBody" class="content article-body">
                                {{ page.content | safe }}
                            </div>
                            {% if page.extra.gallery and config.extra.images_enabled %}
                                {% set gallery_md_path = page.extra.gallery ~ "/index.md" %}
                                {% set gallery_page = get_page(path=gallery_md_path) %}
                                {{ post_macros::gallery(gallery_page = gallery_page) }}
                            {% endif %}
                        </div>
                        {% block page_footer %}
                        {{ post_macros::post_footer(page=page) }}
                        {% endblock page_footer %}
                    </div>
                </article>
                {% if config.extra.disqus_sitename %}
                <section class="section">
                    {{ post_macros::disqus(page = page) }}
                </section>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% if page.extra.gallery %}
<script src="{{ get_url(path="js/jquery.min.js") }}"></script>
<script src="{{ get_url(path="js/lightgallery.min.js") }}"></script> 

<!-- lightgallery plugins -->
<script src="{{ get_url(path="js/lg-zoom.js") }}"></script>
<script src="{{ get_url(path="js/lg-thumbnail.min.js") }}"></script>
<script src="{{ get_url(path="js/lg-fullscreen.min.js") }}"></script>
<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        mode: 'lg-fade',
        cssEasing : 'cubic-bezier(0.25, 0, 0.25, 1)',
        zoom: true
    });
</script>
{% endif %}
{% endblock content %}