{# inputs:  #}
{# path (file path) - path to the image #}
{# anchor_url (url, optional) - url to use for <a> anchor block #}
{# width (integer, optional) - default: 1000 - width of the image #}
{# height (integer, optional) - default: 1000 - height of the image #}
{# caption (string, optional) - caption for the image #}

{% if not width %}
{% set width=1000 %}
{% endif %}
{% if not height %}
{% set height=1000 %}
{% endif %}
{% if not op %}
{% set op="fit" %}
{% endif %}

{% if caption %}
<figure>
{% endif %}
{% if anchor_url %}
<a href="{{anchor_url}}">
{% endif %}
    <img 
        {% if config.extra.images_enabled %}
            {% set image = resize_image(path=path, width=width, height=height, op=op) %}
            src="{{ image.url }}"
        {% endif %}
        {% if caption %}
            alt="{{ caption }}"
        {% endif %}
        {% if shadow %}
            style="box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);"
        {% endif %}
            >
{% if anchor_url %}
</a>
{% endif %}
{% if caption %}
    <figcaption>{{ caption }}</figcaption>
</figure>
{% endif %}
